html {
  --baseHSL: hsl(var(--baseHue), 100%, 25%);
  --secondaryHSL: hsl(calc(var(--baseHue) - 180), 100%, 25%);
}
div {
  width: 200px;
  height: 200px;
  border-radius: 1em;
  border: medium solid #333;
  background-color: var(--baseHSL);
  margin-top: 100px;
  margin-left: 100px;
}
div + div {
  background-color: var(--secondaryHSL);
}
