html {
  --baseHSL: hsl(var(--baseHue), var(--baseLum), var(--baseSat));
  --HSL-30: hsl(calc(var(--baseHue) + 30), var(--baseLum), var(--baseSat));
  --HSL-60: hsl(calc(var(--baseHue) + 60), var(--baseLum), var(--baseSat));
  --HSL-90: hsl(calc(var(--baseHue) + 90), var(--baseLum), var(--baseSat));
  --HSL-120: hsl(calc(var(--baseHue) + 120), var(--baseLum), var(--baseSat));
  --HSL-150: hsl(calc(var(--baseHue) + 150), var(--baseLum), var(--baseSat));
  --HSL-180: hsl(calc(var(--baseHue) + 180), var(--baseLum), var(--baseSat));
  --HSL-210: hsl(calc(var(--baseHue) + 210), var(--baseLum), var(--baseSat));
  --HSL-240: hsl(calc(var(--baseHue) + 240), var(--baseLum), var(--baseSat));
  --HSL-270: hsl(calc(var(--baseHue) + 270), var(--baseLum), var(--baseSat));
  --HSL-300: hsl(calc(var(--baseHue) + 300), var(--baseLum), var(--baseSat));
  --HSL-330: hsl(calc(var(--baseHue) + 330), var(--baseLum), var(--baseSat));
}

body,
body > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
div div {
  width: 9.5vw;
  height: 9.5vw;
  background-color: var(--baseHSL);
}
div:nth-child(2) div {
  background-color: var(--HSL-30);
}
div:nth-child(3) div {
  background-color: var(--HSL-60);
}
div:nth-child(4) div {
  background-color: var(--HSL-90);
}
div:nth-child(5) div {
  background-color: var(--HSL-120);
}
div:nth-child(6) div {
  background-color: var(--HSL-150);
}
div:nth-child(7) div {
  background-color: var(--HSL-180);
}
div:nth-child(8) div {
  background-color: var(--HSL-210);
}
div:nth-child(9) div {
  background-color: var(--HSL-240);
}
div:nth-child(10) div {
  background-color: var(--HSL-270);
}
div:nth-child(11) div {
  background-color: var(--HSL-300);
}
div:nth-child(12) div {
  background-color: var(--HSL-330);
}

div div:nth-child(2) {
  opacity: 0.9;
}
div div:nth-child(3) {
  opacity: 0.8;
}
div div:nth-child(4) {
  opacity: 0.7;
}
div div:nth-child(5) {
  opacity: 0.6;
}
div div:nth-child(6) {
  opacity: 0.5;
}
div div:nth-child(7) {
  opacity: 0.4;
}
div div:nth-child(8) {
  opacity: 0.3;
}
div div:nth-child(9) {
  opacity: 0.2;
}
div div:nth-child(10) {
  opacity: 0.1;
}
